[
  {
    "name": "laravel",
    "image": "${repository_url}:develop",
    "cpu": 0,
    "portMappings": [
      {
        "containerPort": 80,
        "hostPort": 80,
        "protocol": "tcp"
      }
    ],
    "essential": true,
    "command": [],
    "environment": [
    ],
    "mountPoints": [],
    "volumesFrom": [],
    "secrets": [
%{ for key, value in secrets ~}
      {
        "name": "${key}",
        "valueFrom": "/laravel/${key}"
      }
%{ if length(keys(secrets)) != index(keys(secrets), key) + 1  }
      ,
%{ endif }
%{ endfor ~}
    ],
    "linuxParameters": {
      "initProcessEnabled": true
    },
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/ecs/laravel",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "ecs"
      }
    }
  },
  {
    "name": "laravel-scheduler",
    "image": "${repository_url}:develop",
    "cpu": 0,
    "portMappings": [
    ],
    "essential": true,
    "entryPoint": [
      "/usr/sbin/cron"
    ],
    "command": [
      "-f"
    ],
    "environment": [
    ],
    "mountPoints": [],
    "volumesFrom": [],
    "secrets": [
%{ for key, value in secrets ~}
      {
        "name": "${key}",
        "valueFrom": "/laravel/${key}"
      }
%{ if length(keys(secrets)) != index(keys(secrets), key) + 1  }
      ,
%{ endif }
%{ endfor ~}
    ],
    "linuxParameters": {
      "initProcessEnabled": true
    },
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/ecs/laravel",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "ecs"
      }
    }
  },
  {
    "name": "laravel-worker",
    "image": "${repository_url}:develop",
    "cpu": 0,
    "portMappings": [
    ],
    "essential": true,
    "entryPoint": [
      "php"
    ],
    "command": [
      "artisan",
      "queue:work"
    ],
    "environment": [
    ],
    "mountPoints": [],
    "volumesFrom": [],
    "secrets": [
%{ for key, value in secrets ~}
      {
        "name": "${key}",
        "valueFrom": "/laravel/${key}"
      }
%{ if length(keys(secrets)) != index(keys(secrets), key) + 1  }
      ,
%{ endif }
%{ endfor ~}
    ],
    "linuxParameters": {
      "initProcessEnabled": true
    },
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/ecs/laravel",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "ecs"
      }
    }
  }
]
